@import url("https://fonts.googleapis.com/css?family=Bungee");

body {
  background: #ffffff;
  color: crimson;
  font-family: "Bungee", cursive;
  margin-top: 50px;
  text-align: center;
}
a {
  color: crimson;
  text-decoration: underline crimson;
}
